.header {
    width: 100%;
    height:40px;
}

.header__nav {
    display: flex;
    align-items: center;
    padding-left: 2.7%;
    padding-right: 2.7%;
    padding-top: 2.5%;
    width: 100%;
    height: 100%;
    position: relative;
}

.header__nav>a {
    display: flex;
    align-items: center;
    justify-content: start;
    text-decoration: none;
    color: black;
    margin-right: 45.5%;
    font-size: clamp(21px, 2.5vw, 28px);
    width: 20.8%;
    max-width: 233px;
    white-space: nowrap;
    -webkit-tap-highlight-color: transparent;
}

.header__nav>a:hover::before{
    content: "";
    width: 3px;
    height: 40px;
    background-color: #41F6D7;
    position: absolute;
    left: 0;
}

.header__button {
    display: flex;
    border-radius: 50%;
    border: none;
    background-color: inherit;
    width: 15.4%;
    max-width: 173px;
}


.header__button>span {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 3%;
    font-size: clamp(14px, 1.43vw, 16px);
    width: 74.4%;
    max-width: 125px;
    letter-spacing: -0.2px;
    white-space: nowrap;
}

.header__button>img {
    width: 24%;
    height: 100%;
    max-width: 40px;
    max-height: 40px;
}

.header__button--type--menu {
    display: none;
}

.header__button--type--menu::after {
    display: none;
}

.header__button--type--logo {
    display: none;
}

.header__button--type--logo::after {
    display: none;
}

.header__button--type--call {
    display: none;

}

.header__button--type--text {
    display: none;
}

.header__button--type--account {
    display: none;
}

.header__button--type--account::after {
display: none;
}

.header__button--type--application {
    margin-right: 32px;
}

.header__button--type--status {
    margin-right: 0;
}