.content {
    width: 100%;
    height: calc(100vh-88px);
    background-color: rgb(248, 248, 248);
    padding-top: 24px;
    padding-bottom: 36px;
    display: flex;
    flex-direction: column;
    gap: 3.125vw;
}

.content>h1 {
    position: relative;
    height: 40px;
    padding-left: 16px;
    font-size: clamp(21px, 2.5vw, 28px);
    display: flex;
    align-items: center;
}

.content>h1:active:before {
    content: "";
    width: 3px;
    height: 40px;
    background-color: #41F6D7;
    position: absolute;
    left: 0;
}

.content__nav {
    max-width: 100%;
    display: flex;
    gap: 1;
    flex-wrap: nowrap;
    overflow-x: scroll;
    scrollbar-width: none;
}

.content__nav>a {
    text-decoration: none;
    flex-shrink: 0;
    max-width: 246px;
    min-width: 133px;
    white-space: nowrap;
    padding: 8px;
    color: rgb(126, 126, 130);
    transition: background-color 0.2s ease, border 0.2s ease;
    border: 1px solid rgb(248, 248, 248);
    border-radius: 6px;
}


.content__nav>a:active {
    text-decoration: none;
    flex-shrink: 0;
    max-width: 246px;
    min-width: 133px;
    white-space: nowrap;
    padding: 8px;
    color: rgb(126, 126, 130);
    background-color: white;
    border: 1px solid #B8FFEC;
    -webkit-tap-highlight-color: transparent;
}

.reviews {
    display: none;
}

.content__article {
    height: auto;
    width: 100%;
    display: flex;
    padding-right: 3.2%;
    justify-content: space-between;
}

.content__textDiv {
    display: flex;
    flex-direction: column;
    gap: 2%;
    padding-left: 16px;
    padding-right: 16px;
    width: 45%;
}

.content__textDiv {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.content__p {
    font-weight: 400;
    font-size: clamp(10px, 1.82vw, 14px);
    letter-spacing: 0.1px;
    line-height: 18px;
    width: 100%;
    max-height: 160px;
    overflow: hidden;
    color: rgb(27, 28, 33);
}

.content__p--type--p1 {
    max-height: 90px;
}

.content__p--type--p2 {
    max-height: 36px;
}

@media (max-width: 477px) and (min-width: 321px) {
    .content__p--type--p2 {
        display: none;
    }

    .content__p--type--p1 {
        max-height: 180px;
    }
}

.content__textDiv button {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: rgb(248, 248, 248);
    border: none;
}

.content__textDiv button span {
    font-weight: 500;
    font-size: clamp(12px, 1.13vw, 14px);
    line-height: 24px;
}

.content__img {
    width: 48.87%;
    height: 100%;
    max-width: 360px;
    max-height: 208px;
    object-fit: contain;
}