.content {
    width: 100%;
    height: calc(100vh-40px);
    background-color: rgb(248, 248, 248);
    margin-top: 8px;
    padding-left: 2.5%;
    padding-right: 2.5%;
    display: flex;
    flex-direction: column;
}

.content>h1 {
    display: none;
}

.content>h1:active:before {
    display: none;
}

.content__nav {
    max-width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    scrollbar-width: none;
}

.content__nav>a {
    text-decoration: none;
    flex-shrink: 0;
    max-width: 246px;
    min-width: 133px;
    white-space: nowrap;
    letter-spacing: -0.2px;
    padding: 8px 22px;
    margin-top: 17px;
    color: rgb(126, 126, 130);
    font-size: 16px;
    transition: background-color 0.2s ease, border 0.2s ease;
    border: 1px solid rgb(248, 248, 248);
    border-radius: 6px;
}


.content__nav>a:active {
    text-decoration: none;
    flex-shrink: 0;
    max-width: 246px;
    min-width: 133px;
    padding: 8px 22px;
    white-space: nowrap;
    color: rgb(126, 126, 130);
    background-color: white;
    border: 1px solid #B8FFEC;
    -webkit-tap-highlight-color: transparent;
}

.reviews {
    display: flex;
    text-decoration: none;
    padding-left: 14.63px;
    padding-top: 24px;
}

.reviews a {
    text-decoration: none;
    color: #7E7E82;
    -webkit-tap-highlight-color: transparent;
}

.content__article {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.content__textDiv {
    display: flex;
    flex-direction: column;
    gap: 2%;
    width: 48.2%;
    margin-top: 32.2px;
}

.content__textDiv {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.content__p {
    font-weight: 400;
    font-size: clamp(10px, 1.82vw, 14px);
    line-height: 18px;
    width: 100%;
    overflow: hidden;
    color: rgb(27, 28, 33);
}

.content__p--type--p1 {
    max-height: 70px;
    letter-spacing: 0.3px;
}

.content__p--type--p2 {
    max-height: 108px;
    letter-spacing: 0.3px;
}

.content__textDiv button {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: rgb(248, 248, 248);
    border: none;
}

.content__textDiv button span {
    font-weight: 500;
    font-size: clamp(12px, 1.13vw, 14px);
    line-height: 24px;
}

.content__img {
    width: 47.4%;
    height: 100%;
    max-width: 532px;
    max-height: 307px;
    object-fit: contain;
}